<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <!-- <meta name="viewport" content="width=640"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    
    <% include include_public %>

    <!-- <link rel="stylesheet" href="stylesheets/core.css" media="screen"> -->
    <!-- <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)"> -->
    
   
    <style>
    
    @media screen and (max-width: 480px) {

      .main_container{
          top:70px; 
      }
      
      .satellite_box{

        margin-top: 30px;

      }


    }

    </style>
 

    <title> Linksy </title>
  </head>

  <body>

    <!-- <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div> -->
    <!-- <div id='title'>
      <span>
        PURE CSS
      </span>
      <br>
      <span>
        PARALLAX PIXEL STARS
      </span>
    </div> -->

    <!-- 最初的布簾 -->
    <div class="entry_curtain">
      
      <div class="lodin_spinner">
        <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
      </div>

    </div>

    <div class="main_container">
      

      <!-- <span class="main_h1">妙真 愛老虎油～～～～～</span> -->

    
      <div class="time_box">
        <span class="time_text">date null</span>

      </div>

      <div class="satellite_box">
          <div id="satellite_1" class="satellite_spin"></div>
          <div id="satellite_2" class="satellite_2_spin"></div>


                  <div class="gallery_box">
                    <ul>
                      <!-- 網路端 -->
                      <li><div class="pic_0 pic_grp"></li>
                      <li><div class="pic_1 pic_grp"></li>
                      <li><div class="pic_2 pic_grp"></li>
                      <li><div class="pic_3 pic_grp"></li>
                      <li><div class="pic_4 pic_grp"></li>
                      <li><div class="pic_5 pic_grp"></li>
                      <li><div class="pic_6 pic_grp"></li>
                      <li><div class="pic_7 pic_grp"></li>
                      <li><div class="pic_8 pic_grp"></li>
                      <li><div class="pic_9 pic_grp"></li>
                      <li><div class="pic_10 pic_grp"></li>

                      <!-- 本地端 -->
                      <!-- <li><img src="img/IMG_2691.jpg"></li>
                      <li><img src="img/IMG_2692.jpg"></li>
                      <li><img src="img/IMG_2693.jpg"></li>
                      <li><img src="img/IMG_2694.jpg"></li>
                      <li><img src="img/IMG_2695.jpg"></li>
                      <li><img src="img/IMG_2696.jpg"></li>
                      <li><img src="img/IMG_2697.jpg"></li>
                      <li><img src="img/IMG_2698.jpg"></li>
                      <li><img src="img/IMG_2699.jpg"></li>
                      <li><img src="img/IMG_2700.jpg"></li> -->

                    </ul>
                  </div>

      </div>


      <!-- 置底 -->
      <div class="button_box" href="#">

          <!-- <div class="heart_fading"></div>
          <div class="heart_btn">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
 -->


      </div>

      <div class="my-popover">已留下足跡</div>

    </div>








  </body>
</html>
